.placeholdertext {
  &.isLoading {
    pointer-events: none;
    background-color: transparent;
    .text {
      color: transparent;
      border-radius: 10px;
      animation: skeleton-loading 0.66s linear infinite alternate;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(255, 255, 255, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
