@import 'css/util/variables';
@import 'css/normalize/normalize';
@import 'css/normalize/typography';

body {
  @extend .font-regular;
}

strong {
  @extend .font-bold;
}

p {
  @extend .font-light;
}

ul {
  padding-left: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.align-bottom {
  position: relative;
  top: 100%;
}

@media screen and (max-width: 1028px) {
  .center-vertically {
    position: static;
    transform: translateY(0);
  }
}
